form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 20px auto; /* Centrado horizontal */
  font-family: Arial, sans-serif;
}

label {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}

textarea {
  max-width: 400px; /* Ancho máximo para evitar que se haga muy grande */
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  margin: 0 auto 16px; /* Centrado horizontal */
  display: block;
}

textarea:focus {
  border-color: #ffa500;
  outline: none;
}

.TodoForm-ButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.TodoForm-button--add {
  background-color: #0e7911;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TodoForm-button--add:hover {
  background-color: #066a0b;
}

.TodoForm-button--cancel {
  background-color: #f52112;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.TodoForm-button--cancel:hover {
  background-color: #cc1b0d;
}
