.CreateTodoButton {
  background-color: #ffa500;
  box-shadow: 0px 5px 20px rgba(255, 213, 128, 0.7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: transform 0.5s ease;
  z-index: 100;
}

.CreateTodoButton:hover {
  transform: rotate(360deg);
  background-color: #ffc966;
  box-shadow: 0px 5px 30px rgba(255, 193, 102, 0.8);
}

@media (max-width: 480px) {
  .CreateTodoButton {
    font-size: 40px;
    height: 56px;
    width: 56px;
    bottom: 16px;
    right: 16px;
  }
}
